@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#hero{
  width: 592px ;
  margin: 0 auto 72px;

}
#hero img{
  margin-bottom: 72px;
}
h1{
  font-family:'Inter', sans-serif ;
  font-size: 49px;
  font-weight: normal;
  line-height: 59px;
  margin-bottom: 32px;
}
h1 span{
  font-weight:bold ;
}
span, a{
  color: #ff9900;
}
p, #footer{
  color: #7D7987;
  font-size: 14px;
  line-height: 28px;
}
#footer{
  margin-top: 30px;
  margin-bottom: 30px;
}
#footer a + a{
  margin-left:28px ;
}
.line{
  width: 568px;
  height: 0;
  margin: 0 auto 8px;
  border: 1px solid #ECEFF2;
}

#balls{
  position: fixed;
  bottom: 0;
  right: 0;
}

